/* Make the image fully responsive */
body{
    font-family: 'Roboto-Slab';
    background-color: #F2EDD7;
}

header.brown ul{
    background-color: #755139;
} 

a.nav-link{
    color:#F2EDD7;
    text-transform: capitalize;
    font-size: 25px;
    font-weight:500;
}
   

.carousel-inner img {
    width: 100%;
    height: 95vh;
  }

  footer.fixed-bottom{
    background-color: #755139;
    text-transform: uppercase;
    font-size: 18px;
    text-align: right;
    padding-right: 40px;
    padding-top: 5px; 
    color:#F2EDD7;

  }

  h2 {
    color: #685642;
    }

.nav {
        background-color: #685642;
        color: #F2EDD7;
}

 